//
// Madagascar - @wazksy
// _breadcrumbs.scss
//





/*-------------------------------------------------*\
	$BREADCRUMBS
\*-------------------------------------------------*/

.breadcrumb {
	background-color: map-get($colors-palette, grey-100);
	color: map-get($colors-palette, grey-500);
	font-size: $font-size-s;
	list-style-type: none;
	margin: 0;
	margin-bottom: $gutter;
	padding: $gutter / 2;
	width: 100%;
	@include clearfix;

	> li {
		float: left;
	}

	> li + li:before {
		content: "/\00a0";
		padding: 0 $gutter / 3;
	}
}

.breadcrumb__link {
	margin-bottom: 0;
}
